@{
    ViewBag.Title = "JobDetails";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Job Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>Property Research</li>
            <li class="active">
                <strong>Job Details</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <h3>Job Id: PO1598300</h3>
        <div class="ibox-content">          
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Geocoded Address</label>
                <div class="contact-box center-version">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        House Number:
                                    </td>
                                    <td>
                                        94-02
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Street Name:
                                    </td>
                                    <td>
                                        35 Avenue
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Borough:
                                    </td>
                                    <td>
                                        Queens
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Zipcode:
                                    </td>

                                    <td>
                                        11372
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Block:
                                    </td>

                                    <td>
                                        01488
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lot:
                                    </td>
                                    <td>
                                        001
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        X-Coordinate
                                    </td>

                                    <td>
                                        1019432
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Y-Coordinate
                                    </td>

                                    <td>
                                        213557
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Community District:
                                    </td>

                                    <td>
                                        3
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <label>Details</label>
                <div class="contact-box center-version">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            House Number:
                                        </td>

                                        <td>
                                            94-02
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Apartment Number:
                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Borough:
                                        </td>

                                        <td>
                                            Queens
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Location:
                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Block:
                                        </td>

                                        <td>
                                            01488
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Priority:
                                        </td>

                                        <td>
                                            Normal
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Comments:
                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Created By:
                                        </td>

                                        <td>
                                            System Administrator
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Updated By:
                                        </td>

                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            Street Name:
                                        </td>
                                        <td>
                                            35 Avenue
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Zipcode:
                                        </td>

                                        <td>
                                            11372
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Nuisance Type:
                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Establishment Type:
                                        </td>

                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Lot:
                                        </td>

                                        <td>
                                            001
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Created Date:
                                        </td>

                                        <td>
                                            04/21/2017
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Last Updated:
                                        </td>

                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>         
        </div>
        <div class="row">
            <div class="col-lg-3"><label for="FirstName">Returned Letter Status:</label></div>
            <div class="col-lg-5">
                <select class="select2_demo_1 form-control">
                    <option value="">Select</option>
                    <option value="1">Updated Owner Restart COTA</option>
                    <option value="2">No Owner Found</option>
                </select>
            </div>

        </div>
        <div class="row" style="margin-top:10px">
            <div class="col-lg-3"><font color="red">*</font><label for="FirstName">Reason for Close:</label></div>
            <div class="col-lg-5">
                <input type="text" id="bFirst" class="form-control" />
            </div>

        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-lg-12">
                <div id="wizard">
                    <h1>Inspections</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox ">
                                        <div class="ibox-content">
                                            <div class="jqGrid_wrapper">
                                                <table id="table_list_2"></table>
                                                <div id="pager_list_2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>Research</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox ">
                                        <div class="ibox-content">
                                            <div class="jqGrid_wrapper">
                                                <table id="table_list_1"></table>
                                                <div id="pager_list_1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <h1>Documents</h1>
                    <div class="step-content">
                        <div class="text-center m-t-md">
                            <div class="row">
                                <label class="col-sm-3 control-label">Upload Document:</label>
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                    <span class="input-group-addon btn btn-primary btn-file"><span class="fileinput-new">Browse</span><span class="fileinput-exists"></span><input type="file" name="..."></span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox ">
                                            <div class="ibox-content">
                                                <div class="dd" id="nestable">
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Letter Documents</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="jqGrid_wrapper">
                                                                        <table id="table_list_4"></table>
                                                                        <div id="pager_list_4"></div>
                                                                    </div>
                                                                </li>

                                                            </ol>
                                                        </li>
                                                    </ol>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">NOV Documents</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="jqGrid_wrapper">
                                                                        <table id="table_list_4"></table>
                                                                        <div id="pager_list_4"></div>
                                                                    </div>
                                                                </li>

                                                            </ol>
                                                        </li>
                                                    </ol>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Work Order Documents</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="jqGrid_wrapper">
                                                                        <table id="table_list_4"></table>
                                                                        <div id="pager_list_4"></div>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </li>

                                                    </ol>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Affidavit Documents</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="jqGrid_wrapper">
                                                                        <table id="table_list_4"></table>
                                                                        <div id="pager_list_4"></div>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </li>

                                                    </ol>
                                                    <ol class="dd-list">
                                                        <li class="dd-item" data-id="5">
                                                            <div class="dd-handle">Other Documents</div>
                                                            <ol class="dd-list">
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="jqGrid_wrapper">
                                                                        <table id="table_list_4"></table>
                                                                        <div id="pager_list_4"></div>
                                                                    </div>
                                                                </li>
                                                            </ol>
                                                        </li>

                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div>
            <br /><br />
            <button type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-primary">Print COTA</button>
            <button  class="btn btn-primary">Sent to print shop</button>
            <button class="btn btn-primary">Return Supervisor</button>
            <button onclick="$('#AddOwnerPopup2').modal('show');" class="btn btn-primary">Add Owner Information</button>
        </div>
    </div> 
    <div id="AddOwnerPopup1" class="modal fade">
        <div class="modal-dialog" style="width: 920px">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <label class="col-sm-2" for="cc">Reason:</label>
                        <div class="col-sm-4">
                            <select class="select2_demo_1 form-control">
                                <option value="">Select</option>
                                <option value="1">Code 1</option>
                                <option value="2">Code 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <label class="col-sm-2" for="cc">Comments:</label>
                        <div class="col-sm-4"><input type="text" id="bFirst" class="form-control" /></div>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <button type="button" class="btn btn-primary" id="btnSendEmail">Submit</button>
                        <button type="button" class="btn-white" style="height:34px" id="btnCancelEmail">Cancel</button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div id="AddOwnerPopup2" class="modal fade">
        <div class="modal-dialog" style="width: 920px">
            <div class="modal-content ">
                <div class="modal-body">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Update Owner</h4>
                    </div>
                    <div class="modal-body form-horizontal">
                        <div class="col-lg-12">
                            <div class="row">
                                <label class="col-lg-3" for="to">Inspection Start Date:</label>
                                <label class="col-lg-3" for="to">2/10/2018 11:35:42 AM</label>
                                <label class="col-lg-3" for="to">Inspection End Date:</label>
                                <label class="col-lg-3" for="to">2/12/2018 11:35:42 AM</label>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="to"><font color="red">*</font>Letter Type:</label>
                                <div class="col-lg-3">
                                    <select class="select2_demo_1 form-control">
                                        <option value="1">DSNY</option>
                                        <option value="2">Private Owned</option>
                                        <option value="3">City Owned</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="to"><font color="red">*</font>Address Source:</label>
                                <div class="col-lg-3">
                                    <select class="select2_demo_1 form-control">
                                        <option value="">Select</option>
                                        <option value="1">ACRIS</option>
                                        <option value="2">DCAS</option>
                                        <option value="3">DOB</option>
                                        <option value="4">DOF</option>
                                        <option value="5">HPD</option>
                                        <option value="5">IPIS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="cc" style="margin-top:5px">Business Name:</label>
                                <div class="col-lg-9"><input type="text" id="bName" class="form-control" /></div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="cc">First Name:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                                <label class="col-lg-2" for="cc">Last Name:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="to">Establishment Type:</label>
                                <div class="col-lg-3">
                                    <select class="select2_demo_1 form-control">
                                        <option value="">Select</option>
                                        <option value="1">Stables</option>
                                        <option value="2">Riding Horse</option>
                                        <option value="3">Petshop</option>
                                        <option value="4">SpayNeuter Contractor</option>
                                        <option value="5">Private Horse</option>
                                        <option value="6">Carriage Horse</option>
                                        <option value="7">Boarding</option>
                                        <option value="8">Grooming</option>
                                        <option value="9">Other</option>
                                        <option value="10">Tire Shops</option>
                                        <option value="11">Cemetry</option>
                                        <option value="12">Tree Pits</option>
                                        <option value="13">Green Street</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="to"><font color="red">*</font>Country</label>
                                <div class="col-lg-3">
                                    <select class="select2_demo_1 form-control" id="lstGrid" onclick="showGrid();">
                                        <option value="">Select</option>
                                        <option value="1">United States</option>
                                        <option value="2">Canada</option>
                                        <option value="3">Other</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="cc">House Number:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                                <label class="col-lg-2" for="cc">Street Name:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                            </div>
                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="cc">Apartment Number:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                                <label class="col-lg-2" for="cc">Block:</label>
                                <div class="col-lg-3"><input type="text" id="bFirst" class="form-control" /></div>
                            </div>

                            <div class="row" style="margin-top:10px">
                                <label class="col-lg-3" for="to"><font color="red">*</font>State</label>
                                <div class="col-lg-3">
                                    <select class="select2_demo_1 form-control">
                                        <option value="">Select</option>
                                        <option value="1">Florida</option>
                                        <option value="2">New Jersey</option>
                                        <option value="3">New Mexico</option>
                                        <option value="4">New York</option>
                                        <option value="5">Washington</option>
                                        <option value="6">Ohio</option>
                                        <option value="7">North Dakota</option>
                                    </select>
                                </div>
                                <div id="Grid2">
                                    <label class="col-lg-2" for="cc">Zip Code:</label>
                                    <div class="col-lg-3"><input type="text" value="M4C-4X5" id="bFirst" class="form-control" /></div>
                                </div>
                                <div id="Grid1">
                                    <label class="col-lg-2" for="cc">Zip Code:</label>
                                    <div class="col-lg-3"><input type="text" value="432002" id="bFirst" class="form-control" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="to"><font color="red">*</font> Required:</label>
                        </div>
                    </div><br>
                    <div class="row">
                        <button type="button" class="btn btn-primary" id="btnSendEmail1" style="margin-left:260px">Save</button>
                        <button type="button" class="btn btn-primary" id="btnCancelEmail1" style="margin-left:10px">Cancel</button>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <p><a href="#">[1]</a> = Enter Business Name or First Name and Last Name</p>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/codeEditorStyles")
@Styles.Render("~/plugins/wizardStepsStyles")
}
@section Scripts {
@Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/codeEditor")
@Scripts.Render("~/plugins/nestable")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#wizard").steps();
        var mydata = [
                         { PrimaryOwner: "Yes", Owner: "125-18 MERRICk BLVD OWNERS LLC", House: "147-36", StreetName: "230th PLACE", Apt: "", City: "ROSEDALE", State: "New York", ZipCode: "11413", CAMSId: "", LetterType: "DSNY", JobId: "PO999643", ResearchDate: "07/01/2015" },
                       { PrimaryOwner: "Yes", Owner: "125-18 MERRICk BLVD OWNERS LLC", House: "147-36", StreetName: "230th PL", Apt: "", City: "JAMAICA", State: "New York", ZipCode: "11413", CAMSId: "", LetterType: "DSNY", JobId: "PO999643", ResearchDate: "07/01/2015" },
        ];
        var mydata1 = [
                      { JobID: "PO999643", WorkOrderID: "218927", InpectionType: "Extermination", Status: "Approved", Result: "Closed", InspectedBy: "Shonta Turman", InspectionDate: "08/11/2015", ReviewedBy: "Anthony Bocskor", ReviewedDate: "08/16/2015", Pictures: "" },
        ];
        var mydata2 = [
                     { Date: "07/15/2017", Time: "12:57:23 PM", InitialCharge: "1000", TaxAmount: "200"},

                { Date: "07/16/2017", Time: "10:57:23 PM", InitialCharge: "2000", TaxAmount: "400" },
        ];
        var mydata3 = [
                     { PrintedBy: "Saundra Cesoario-Lopez", PrintedDate: "0/7/01/2015 11:14:16 AM", LetterType: "5 Day DSNY Letter", Action: "5 day letter printed", Print: ""},
        ];

        $("#btnCancelEmail").click(function () {
            $('#AddOwnerPopup2').modal('hide');
        });
        $("#btnSendEmail").click(function () {
            $('#AddOwnerPopup2').modal('hide');
        });
        // Configuration for jqGrid  1
        $("#table_list_1").jqGrid({
            data: mydata1,
            datatype: "local",
            url: '',
            height: 170,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Job ID', 'WorkOrder ID', 'Inpection Type', 'Status', 'Result', 'Inspected By', 'Inspection Date', 'Reviewed By', 'Reviewed Date', 'Pictures'],
            colModel: [
                { name: 'JobID', index: 'JobID', editable: true, del: true, width: 70,sorttype:"int" },
                { name: 'WorkOrderID', index: 'WorkOrderID', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'InpectionType', index: 'InpectionType', editable: true, width: 110, sorttype: "int", align: "center" },

                { name: 'Status', index: 'Status', editable: true, width: 60, sorttype: "int", align: "center" },
                { name: 'Result', index: 'Result', editable: true, width: 90, align: "center", sorttype: "string" },
                { name: 'InspectedBy', index: 'InspectedBy', editable: true, width: 100, align: "center", sorttype: "int" },
              { name: 'InspectionDate', index: 'InspectionDate', editable: true, width: 110, align: "center", sorttype: "int" },
     { name: 'ReviewedBy', index: 'ReviewedBy', editable: true, width: 100, align: "center", sorttype: "int" },
     { name: 'ReviewedDate', index: 'ReviewedDate', editable: true, width: 100, align: "center", sorttype: "int" },
     { name: 'Pictures', index: 'Pictures', editable: true, width: 50, align: "center", sorttype: "int" }
            ],
            pager: "#pager_list_1",
            viewrecords: true,

            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false,
            cellSubmit: 'clientArray'
        });

        // Configuration for jqGrid Example 2
    $("#table_list_2").jqGrid({
        data: mydata,
        datatype: "local",
        url:'',
        height: 170,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['Primary Owner','Owner', 'House #', 'Street Name', 'Apt #','City','State','Zip Code','CAMS Id','Letter Type','Job Id','Research Date(s)'],
        colModel: [
           { name: 'PrimaryOwner', index: 'PrimaryOwner', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'Owner', index: 'Owner', editable: true, width: 210, sorttype: "int", align: "center" },

            { name: 'House', index: 'House', editable: true, width: 50, sorttype: "int", align: "center" },
            { name: 'StreetName', index: 'StreetName', editable: true, width: 80, align: "center", sorttype: "string"},
            { name: 'Apt', index: 'Apt', editable: true, width: 50, align: "center", sorttype: "int" },
          { name: 'City', index: 'City', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'State', index: 'State', editable: true, width: 60, align: "center", sorttype: "int" },
 { name: 'ZipCode', index: 'ZipCode', editable: true, width: 60, align: "center", sorttype: "int" },
 { name: 'CAMSId', index: 'CAMSId', editable: true, width: 70, align: "center", sorttype: "int" },
 { name: 'LetterType', index: 'LetterType', editable: true, width: 100, align: "center", sorttype: "int" },
 { name: 'JobId', index: 'JobId', editable: false, add:true, width: 70, align: "center", sorttype: "int" },
{ name: 'ResearchDate', index: 'ResearchDate', editable: true, width: 100, align: "center", sorttype: "int" },
        ],
        pager: "#pager_list_2",
        viewrecords: true,

        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false,
        cellSubmit: 'clientArray'
    });

        // Configuration for jqGrid Example 3
    $("#table_list_3").jqGrid({
        data: mydata2,
        datatype: "local",
        url: '',
        height: 100,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['Date', 'Time', 'Initial Charge', 'Tax Amount'],
        colModel: [
            { name: 'Date', index: 'Date', editable: true, del: true, width: 80, sorttype: "int" },
            { name: 'Time', index: 'Time', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'InitialCharge', index: 'InitialCharge', editable: true, width: 140, sorttype: "int", align: "center" },

            { name: 'TaxAmount', index: 'TaxAmount', editable: true, width: 60, sorttype: "int", align: "center" },


        ],
        pager: "#pager_list_3",
        viewrecords: true,

        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false,
        cellSubmit: 'clientArray'
    });
    $("#table_list_4").jqGrid({
        data: mydata3,
        datatype: "local",
        url: '',
        height: 170,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['Printed By', 'Printed Date', 'Letter Type', 'Action', 'Print'],
        colModel: [
            { name: 'PrintedBy', index: 'PrintedBy', editable: true, del: true, width: 200, sorttype: "int" },
            { name: 'PrintedDate', index: 'PrintedDate', editable: true, width: 200, sorttype: "int", align: "center" },
                { name: 'LetterType', index: 'LetterType', editable: true, width: 180, sorttype: "int", align: "center" },
            { name: 'Action', index: 'Action', editable: true, width: 180, sorttype: "int", align: "center" },
            { name: 'Print', index: 'Print', editable: true, width: 120, align: "center", sorttype: "string" },
                 ],
        pager: "#pager_list_4",
        viewrecords: true,

        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false,
        cellSubmit: 'clientArray'
    });
        // Add selection
    $("#table_list_2").setSelection(4, true);
    $("#table_list_1").setSelection(4, true);
    $("#table_list_3").setSelection(4, true);
    $("#table_list_4").setSelection(4, true);

        // Setup buttons
    $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
            { edit: true, add: true, del: true, search: true },
            {  reloadAfterSubmit: true }
    );
    $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
       { edit: true, add: true, del: true, search: true },
       { reloadAfterSubmit: true }
);
    $("#table_list_3").jqGrid('navGrid', '#pager_list_3',
 { edit: true, add: true, del: true, search: true },
 { reloadAfterSubmit: true }
);
    $("#table_list_4").jqGrid('navGrid', '#pager_list_4',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
        // Add responsive to jqGrid
    $(window).bind('resize', function () {
        var width = $('.jqGrid_wrapper').width();
        $('#table_list_1').setGridWidth(width);
        $('#table_list_2').setGridWidth(width);
        $('#table_list_3').setGridWidth(width);
    });
        //Add Sweet Alert on Button
    $('.demo2').click(function () {
        swal({
            title: "Saved Successfully!",
            type: "success"
        });
    });
    $('.demo3').click(function () {
        swal({
            title: "Get Updated!",
            type: "success"
        });
    });
    Dropzone.options.dropzoneForm = {
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 2, // MB
        dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)"
    };

    $(document).ready(function () {

        var editor_one = CodeMirror.fromTextArea(document.getElementById("code1"), {
            lineNumbers: true,
            matchBrackets: true
        });

        var editor_two = CodeMirror.fromTextArea(document.getElementById("code2"), {
            lineNumbers: true,
            matchBrackets: true
        });

        var editor_two = CodeMirror.fromTextArea(document.getElementById("code3"), {
            lineNumbers: true,
            matchBrackets: true
        });

    });
    });
    </script>

    @Scripts.Render("~/plugins/jqGrid")
    <script type="text/javascript">
        $('#Grid1').hide();
        $('#Grid2').hide();
        function showGrid() {
            var selectedID = parseInt($("#lstGrid").val());

            $('#Grid1').hide();
            $('#Grid2').hide();

            if (selectedID == 2) {
                $('#Grid2').show();
            }
            else if (selectedID == 1) {
                $('#Grid1').show();
            }

        }
        $(document).ready(function () {
            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                        output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize'), null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };
            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);

            // activate Nestable for list 2
            $('#nestable2').nestable({
                group: 1
            }).on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));
            updateOutput($('#nestable2').data('output', $('#nestable2-output')));

            $('#nestable-menu').on('click', function (e) {
                var target = $(e.target),
                        action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });
            $('#Grid1').hide();
            $('#Grid2').hide();

        var mydata = [
                     { JobID: "PO1598300", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "176-24", StreetName: "126 Avenue", Apt: "Opposite Of", Borough: "Queens", Block: "12525", Lot: "0012", Priority: "Normal", JobType: "DSNY", urlID:"JobDetails" },
                     { JobID: "PO1598881", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "35-34 & 35-28", StreetName: "101 Street", Apt: "Between", Borough: "Queens", Block: "01741", Lot: "0016", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608199", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0083", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608220", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0081", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608221", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0079", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608234", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0078", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608235", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0077", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608238", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "152", StreetName: "BAY 53 Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "06949", Lot: "0076", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608249", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "177", StreetName: "Buffalo Ave", Apt: "Adjacent To", Borough: "Brooklyn", Block: "01363", Lot: "0006", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608253", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "867", StreetName: "New Jersy Ave", Apt: "Adjacent To", Borough: "Brooklyn", Block: "04348", Lot: "0055", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1598881", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "542", StreetName: "Schenck Ave", Apt: "Adjacent To", Borough: "Brooklyn", Block: "04075", Lot: "0118", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608199", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "675", StreetName: "Linwood ST", Apt: "Adjacent To", Borough: "Brooklyn", Block: "04067", Lot: "0008", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608220", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "657", StreetName: "Hinsdale Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "03867", Lot: "0009", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608221", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "657", StreetName: "Hinsdale Street", Apt: "Adjacent To", Borough: "Brooklyn", Block: "03867", Lot: "0008", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
                     { JobID: "PO1608234", Researcher: "Saundra Cesario-Lopez", AssignedOn: "07/01/2015", House: "99 & 103", StreetName: "S 4th Street", Apt: "Between", Borough: "Brooklyn", Block: "02430", Lot: "0038", Priority: "Normal", JobType: "DSNY", urlID: "JobDetails" },
        ];
        // Configuration for jqGrid Example 2
        $("#table_list_2").jqGrid({
            data: mydata,
            datatype: "local",
            height: 220,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: [ 'Job ID', 'Researcher', 'Assigned On', 'House #', 'Street Name', 'Apt #', 'Borough', 'Block','Lot', 'Priority', 'Job Type'],
            colModel: [
                { name: 'JobID', index: 'JobID', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';}},
                { name: 'Researcher', index: 'JobType', editable: true, width: 150, sorttype: "int", align: "center" },
                { name: 'AssignedOn', index: 'AssignedOn', editable: true, width: 80, align: "center", sorttype: "string", },
                { name: 'House', index: 'House', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'StreetName', index: 'StreetName', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'Apt', index: 'Apt', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'Borough', index: 'Borough', editable: true, width: 100, align: "center", sorttype: "int" },
                { name: 'Block', index: 'Block', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'Lot', index: 'Lot', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'Priority', index: 'Priority', editable: true, width: 80, align: "center", sorttype: "int" },
                { name: 'JobType', index: 'JobType', editable: true, width: 80, align: "center", sorttype: "int" },

            ],
            pager: "#pager_list_2",
            viewrecords: true,
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });

        // Add selection
        $("#table_list_2").setSelection(4, true);


        // Setup buttons
        $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
                { edit: true, add: true, del: true, search: true },
                { reloadAfterSubmit: true }
        );

        // Add responsive to jqGrid
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list_1').setGridWidth(width);
            $('#table_list_2').setGridWidth(width);
        });
    });
    $("#btnCancelEmail").click(function () {
        $('#AddOwnerPopup').modal('hide');
    });
    $("#btnSendEmail").click(function () {
        $('#AddOwnerPopup').modal('hide');
    });
        
        $("#btnCancelEmail1").click(function () {
            $('#AddOwnerPopup2').modal('hide');
    });
    $("#btnSendEmail1").click(function () {
        $('#AddOwnerPopup2').modal('hide');
    });
  
   

    </script>
}