
@{
    ViewBag.Title = "ProductivityDashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Productivity Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Property Research</a>
            </li>
            <li class="active">
                <strong>Productivity Dashboard</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">

    <div class="ibox-content">
        <div class="row">
            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-2 control-label">Date Range:</label>
                <div class="col-md-4">
                    <div id="reportrange" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("invoicePrint", "Pages")" target="_blank" class="btn btn-primary" style="text-align-last: right"><i></i> Submit </a>

                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-2"><label for="FirstName">List of Researchers:</label></div>
            <div class="col-lg-3" >
                <select class="form-control" multiple="" id="lstGrid" onclick="showGrid();">
                    <option value="1">John</option>
                    <option value="2">Mike</option>
                    <option value="3">Sandy</option>
                  
                </select>
            </div>
     
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="ibox-content">
            <div class="row">
                <h3 style="margin-left:20px">List of Researchers</h3>
                <div class="col-lg-12">
                    <div class="ibox ">

                        <div class="ibox-content">
                            <div class="jqGrid_wrapper" id="Grid1">
                                <table id="table_list_1"></table>
                                <div id="pager_list_1"></div>
                            </div>
                            <div class="jqGrid_wrapper" id="Grid2">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                            <div class="jqGrid_wrapper" id="Grid3">
                                <table id="table_list_3"></table>
                                <div id="pager_list_3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
@section Styles {

    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/vectorMap")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/summernote")

    <script type="text/javascript">
        function showGrid() {
            var selectedID = parseInt($("#lstGrid").val());
          
            $('#Grid1').hide();
            $('#Grid2').hide();
            $('#Grid3').hide();
            if (selectedID == 1) {
                $('#Grid1').show();
            }
            else if (selectedID == 2) {
                
                $('#Grid2').show();
            }
            else if (selectedID == 3) {
                $('#Grid3').show();
            }
        }
        $(document).ready(function () {
            $('#Grid1').hide();
            $('#Grid2').hide();
            $('#Grid3').hide();
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/1950',
                maxDate: '12/31/3000',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,

                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });

            var mydata1 = [
           { LicenseCategory: "Jobs Assigned", Today: "3", Previous: "4", LastWeek: "5", Average: "6", Total: "12", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs Processed", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs more than 48 hours", Today: "4", Previous: "6", LastWeek: "4", Average: "5", Total: "14", urlID: "JobDetails" }
            ];

            var mydata2 = [
           { LicenseCategory: "Jobs Assigned", Today: "3", Previous: "4", LastWeek: "5", Average: "6", Total: "12", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs Processed", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs more than 48 hours", Today: "4", Previous: "6", LastWeek: "4", Average: "5", Total: "14", urlID: "JobDetails" }
            ];

            var mydata3 = [
           { LicenseCategory: "Jobs Assigned", Today: "3", Previous: "4", LastWeek: "5", Average: "6", Total: "12", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs Processed", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "ListOfQueues" },
           { LicenseCategory: "Jobs more than 48 hours", Today: "4", Previous: "6", LastWeek: "4", Average: "5", Total: "14", urlID: "JobDetails" }
            ];
            // Configuration for jqGrid Example 1
            $("#table_list_1").jqGrid({
                data: mydata1,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ['License Category', 'Today', 'Previous', 'Last Week', 'Average', 'Total'],
                colModel: [
                    {
                        name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 140, sorttype: "string", search: true
                    },
                    {
                        name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
             {
                 name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                     {
                         return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                     }

                 }
             },


                ],
                pager: "#pager_list_1",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 1
            $("#table_list_2").jqGrid({
                data: mydata2,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ['License Category', 'Today', 'Previous', 'Last Week', 'Average', 'Total'],
                colModel: [
                    {
                        name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 140, sorttype: "string", search: true
                    },
                    {
                        name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
             {
                 name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                     {
                         return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                     }

                 }
             },


                ],
                pager: "#pager_list_2",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 1
            $("#table_list_3").jqGrid({
                data: mydata3,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 20,
                rowList: [10, 20, 30],
                colNames: ['License Category', 'Today', 'Previous', 'Last Week', 'Average', 'Total'],
                colModel: [
                    {
                        name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 140, sorttype: "string", search: true
                    },
                    {
                        name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
                    {
                        name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                            {
                                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                            }

                        }
                    },
             {
                 name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                     {
                         return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                     }

                 }
             },


                ],
                pager: "#pager_list_3",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            $("#table_list_1").setSelection(4, true);
            $("#table_list_2").setSelection(4, true);
            $("#table_list_3").setSelection(4, true);
            $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
       { edit: true, add: true, del: true, search: true },
       { reloadAfterSubmit: true }
);
            $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
      { edit: true, add: true, del: true, search: true },
      { reloadAfterSubmit: true }
);
        $("#table_list_3").jqGrid('navGrid', '#pager_list_3',
      { edit: true, add: true, del: true, search: true },
      { reloadAfterSubmit: true }
);
        });
</script>
}

