@{
    ViewBag.Title = "PropertyResearchDashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-5">
        <h2>Property Research Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>Property Research</li>
            <li class="active">
                <strong>Property Research Dashboard</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">

    <div class="ibox-content">

        <div class="row">
            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-1 control-label">Date Range:</label>
                <div class="col-md-4">
                    <div id="reportrange" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>

                </div>
               

            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-1 control-label">Source Type:</label>
                <div class="col-md-4">
                    <select class="select2_demo_1 form-control">
                        <option value="">Select</option>
                        <option value="1">PCS</option>
                        <option value="2">VPHS</option>
                        <option value="3">Vector</option>
                    </select>
                </div>
               

            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-1 control-label"></label>
                <div class="col-md-4">
                   <button class="btn btn-primary">Submit</button>
                </div>


            </div>
        </div>
    </div><br />
    <div class="ibox float-e-margins animated fadeInRight">
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">

                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 style="margin-left:20px">My Task</h3>
                <div class="col-lg-12">
                    <div class="ibox ">

                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_1"></table>
                                <div id="pager_list_1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
   

  
</div>

@section Styles {

    @Styles.Render("~/plugins/dateRangeStyles")
@Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
   

}


@section Scripts {
@Scripts.Render("~/plugins/dateRange")
@Scripts.Render("~/plugins/jqGrid")
<script type="text/javascript">
    //var windowObjectReference;

    //function openRequestedPopup() {
    //    windowObjectReference = window.open(
    //      "http://www.domainname.ext/path/ImageFile.png",
    //      "DescriptiveWindowName",
    //      "resizable,scrollbars,status"
    //    );
    //}

    function setPage(pageType) {
        
        $('#divgetupdatefromDOF').hide();
        $('#divgetupdatefromState').hide();
        $('#divgetupdatefromGoogle').hide();
        
        if (pageType == 'DOF') {
           
            $('#divgetupdatefromDOF').show();
            $('#lblDOF').focus();
        }
        else if (pageType == 'State') {
            $('#divgetupdatefromState').show();
            $('#lblDOFState').setfocus();
        }
        else if (pageType == 'Google') {
            $('#divgetupdatefromGoogle').show();
            $('#lblGoogle').setfocus();
        }

    }
    $(document).ready(function () {
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    
    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/1950',
        maxDate: '12/31/3000',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,

        opens: 'right',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });
    var mydata = [
                 { LicenseCategory: "DSNY Jobs", Today: "8", Previous: "16", LastWeek: "18", Average: "21",Total:"42", urlID: "ListOfQueues" },
                  { LicenseCategory: "Returned Letters", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "ListOfQueues" },
                    { LicenseCategory: "My Research Queue", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "MyResearchQueue" },
                 { LicenseCategory: "NAA File Matched Owners", Today: "846", Previous: "967", LastWeek: "941", Average: "689", Total: "2754", urlID: "JobDetails" },
                 { LicenseCategory: "Research Assignment Queue", Today: "3775", Previous: "3764", LastWeek: "3542", Average: "3446", Total: "42", urlID: "ResearchAssignmentQueue" },
                  { LicenseCategory: "Recommend For Close ", Today: "3", Previous: "4", LastWeek: "8", Average: "8", Total: "16", urlID: "ResearchAssignmentQueue" },

    ];
    var mydata1 = [
            { LicenseCategory: "DSNY Jobs", Today: "3", Previous: "4", LastWeek: "5", Average: "6", Total: "12", urlID: "ListOfQueues" },
            { LicenseCategory: "Returned Letters", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "ListOfQueues" },
                { LicenseCategory: "My Research Queue", Today: "8", Previous: "16", LastWeek: "18", Average: "21", Total: "42", urlID: "MyResearchQueue" },
            { LicenseCategory: "NAA File Matched Owners", Today: "4", Previous: "6", LastWeek: "4", Average: "5", Total: "14", urlID: "JobDetails" },
            { LicenseCategory: "Research Assignment Queue", Today: "3", Previous: "0", LastWeek: "8", Average: "11", Total: "14", urlID: "ResearchAssignmentQueue" },
           { LicenseCategory: "Jobs more than 48 hours", Today: "3", Previous: "5", LastWeek: "8", Average: "8", Total: "16", urlID: "ResearchAssignmentQueue" },

    ];
        // Configuration for jqGrid Example 2
    $("#table_list_2").jqGrid({
        data: mydata,
        datatype: "local",
        height: 170,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['License Category', 'Today', 'Previous', 'Last Week', 'Average','Total'],
        colModel: [
            {
                name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 80, sorttype: "string", search: true,
              
            },   
            {
                name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                    {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }

                }
            },
            {
                name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                    {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }

                }
            },
            {
                name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                    {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }

                }
            },
            {
                name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                    {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }

                }
            },
            
           {
               name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

                   {
                       return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                   }

               }
           },
        ],
        //pager: "#pager_list_2",
        viewrecords: true,
     
        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false
    });
    $("#table_list_1").jqGrid({
        data: mydata1,
        datatype: "local",
        height: 170,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['License Category', 'Today', 'Previous', 'Last Week', 'Average', 'Total'],
        colModel: [
            {
                name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 80, sorttype: "string", search: true
            },
            { name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center",formatter: function (cellvalue, options, rowObject) {

                {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                }

            }},
            { name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

        {
            return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
        }

    } },
            { name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {

                {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                }

            } },
            { name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

        {
            return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
        }

    } },
     {
         name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {

             {
                 return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
             }

         }
     },


        ],
        //pager: "#pager_list_1",
        viewrecords: true,

        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false
    });
        // Add selection
    $("#table_list_2").setSelection(4, true);
    $("#table_list_1").setSelection(4, true);


        // Setup buttons
    $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
            { edit: true, add: true, del: true, search: true },
            {  reloadAfterSubmit: true }
    );
    $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
       { edit: true, add: true, del: true, search: true },
       { reloadAfterSubmit: true }
);

        // Add responsive to jqGrid
    $(window).bind('resize', function () {
        var width = $('.jqGrid_wrapper').width();
        $('#table_list_1').setGridWidth(width);
        $('#table_list_2').setGridWidth(width);

    });
    var myuserupdatedata = [
           {
               Primary: "Yes", Owner: "ESPINOZA JORGE A", House: "90-15", Street: "143RD STREET", Apt: "A", City: "JAMAICA", State: "NEW YORK",
               ZipCode: "11435", CAMISID: "41487037", LetterType: "PRINTED OWNED", JobID: "FO94638", ResearchDate: "02/12/2018"
           },
         
    ];
        // Configuration for jqGrid Example 2
    $("#table_list_3").jqGrid({
        data: myuserupdatedata,
        datatype: "local",
        height: 50,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['Primary', 'Owner', 'House#', 'Street Name', 'Apt', 'City','State','Zip Code','CAMIS ID','Letter Type','Job ID','Research Date'],
        colModel: [
            {
                //name: 'LicenseCategory', index: 'LicenseCategory', editable: false, sortable: false, width: 80, sorttype: "string", search: true, formatter: function (cellvalue, options, rowObject) {
                //    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

                //}
                name: 'Primary', index: 'Primary', editable: true, width: 90, sorttype: "string", align: "center"
            },
            { name: 'Owner', index: 'Owner', editable: true, width: 140, sorttype: "string", align: "center" },
            { name: 'House', index: 'House', editable: true, width: 80, sorttype: "string", align: "center" },
            { name: 'Street', index: 'Street', editable: true, width: 100, sorttype: "string", align: "center" },
            { name: 'Apt', index: 'Apt', editable: true, width: 50, sorttype: "string", align: "center" },
            { name: 'City', index: 'City', editable: true, width: 90, sorttype: "string", align: "center" },
            { name: 'State', index: 'State', editable: true, width: 90, sorttype: "string", align: "center" },
            { name: 'Zip Code', index: 'ZipCode', editable: true, width: 80, sorttype: "string", align: "center" },
            { name: 'CAMIS ID', index: 'CAMISID', editable: true, width: 80, sorttype: "string", align: "center" },
            { name: 'Letter Type', index: 'LetterType', editable: true, width: 90, sorttype: "string", align: "center" },
            { name: 'Job ID', index: 'JobID', editable: true, width: 70, sorttype: "string", align: "center" },
            { name: 'Research Date', index: 'ResearchDate', editable: true, width: 90, sorttype: "string", align: "center" },


        ],
        pager: "#pager_list_3",
        viewrecords: true,
        add: false,
        edit: false,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false
    });

    });
    function showGrid()
    {
        $('#divOwnergrd').show();
       
    }
    $("#btnCancelEmail").click(function () {
        $('#AddOwnerPopup').modal('hide');
    });
    $("#btnSendEmail").click(function () {
        $('#AddOwnerPopup').modal('hide');
    });
   </script>
}