
@{
    ViewBag.Title = "ResearchAssignmentQueue";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Research Assignment Queue</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>Property Research</li>
            <li class="active">
                <strong>Research Assignment Queue</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">   
    <div class="ibox-content">
        <h3>Unassigned Jobs</h3>   
        <div class="ibox float-e-margins animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    <div class="row" style="shape-margin: 10px">
        <label class="col-sm-3 control-label">Select a researcher to assign job(s):</label>
        <div class="col-md-3">
            <select class="select2_demo_1 form-control">
                <option value="1">Aayesha Vichare</option>
                <option value="2">Alexis Cuffy(90)</option>
                <option value="3">Amar Ahmad</option>
                <option value="4">Anthony Faciane</option>
                <option value="5">Anthony Bocskor</option>
                <option value="7">Arlene Jon</option>
                <option value="8">Askok Chenukuri</option>
                <option value="9">Carole Lourick</option>
                <option value="10">Caroline Bragdon</option>
                <option value="11">Catherine Ceasar</option>
                <option value="13">Chandrajeet Padhy</option>
                <option value="14">Christina Cox</option>
                <option value="15">Christopher Johnson</option>
                <option value="16">Coreen John</option>
                <option value="17">Corinne John</option>
                <option value="18">Dariana Montilla</option>
                <option value="19">David Trapp</option>
                <option value="20">Dawn Collins</option>
                <option value="20">Dezaray Johnson </option>
                <option value="20">Duane Williams</option>
            </select>
        </div>
            <div class="col-md-2">
                <Button class="btn btn-primary btn-sm demo2" style="text-align-last: right"><i></i>Assign Job(s)</Button>
                </div>
            </div>    
    </div>
</div>
@section Styles {    
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
@Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
   @Scripts.Render("~/plugins/jqGrid")
@Scripts.Render("~/plugins/sweetAlert")
<script type="text/javascript">
    $(document).ready(function () {   
        var mydata = [
                     { Select: "", JobID: "PO1598300", Status: "Assigned", JobType: "311", Source: "PCS", Block: "05738", Lot: "0353", House: "3015", StreetName: "RIVERDALE AVENUE", Borough: "BRONX", ZipCode: "10463", Priority: "Normal", FieldOffice: "BRONX" },
                     { Select: "", JobID: "PO1598881", Status: "In progress", JobType: "311", Source: "PCS", Block: "03258", Lot: "0073", House: "3400", StreetName: "FT INDEPENDENCE STREET", Borough: "BRONX", ZipCode: "10463", Priority: "Normal", FieldOffice: "BRONX" },
                        { Select: "", JobID: "PO1608199", Status: "Printed (print shop)", JobType: "Indexing", Source: "PCS", Block: "03157", Lot: "0039", House: "212", StreetName: "EAST 182 STREETE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                  { Select: "", JobID: "PO1608220", Status: "Re printed", JobType: "Indexing", Source: "PCS", Block: "03025", Lot: "0009", House: "360", StreetName: "EAST 188 STREET", Borough: "BRONX", ZipCode: "10458", Priority: "Normal", FieldOffice: "BRONX" },
                          { Select: "", JobID: "PO1608221", Status: "Un Assigned", JobType: "Indexing", Source: "PCS", Block: "03025", Lot: "0013", House: "2421", StreetName: "WEBSTER AVENUE", Borough: "BRONX", ZipCode: "10458", Priority: "Normal", FieldOffice: "BRONX" },
                  { Select: "", JobID: "PO1608234", Status: "Return assigned", JobType: "Indexing", Source: "PCS", Block: "03144", Lot: "0004", House: "2086", StreetName: "VALENTINE AVENUE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                     { Select: "", JobID: "PO1608235", Status: "Un delivered", JobType: "Indexing", Source: "PCS", Block: "03144", Lot: "0005", House: "2088", StreetName: "VALENTINE AVENUE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                        { Select: "", JobID: "PO1608238", Status: "Re worked", JobType: "Indexing", Source: "PCS", Block: "03144", Lot: "0008", House: "2098", StreetName: "VALENTINE AVENUE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                  { Select: "", JobID: "PO1608249", Status: "Rejected (No owner found)", JobType: "Indexing", Source: "PCS", Block: "03144", Lot: "0020", House: "2126", StreetName: "VALENTINE AVENUE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                          { Select: "", JobID: "PO1608253", Status: "Rejected (Embassy property)", JobType: "Indexing", Source: "PCS", Block: "03144", Lot: "0028", House: "2119", StreetName: "TIEBOUT AVENUE", Borough: "BRONX", ZipCode: "10457", Priority: "Normal", FieldOffice: "BRONX" },
                          
        ];
        // Configuration for jqGrid Example 2
        $("#table_list_2").jqGrid({
            data: mydata,
            datatype: "local",
            height: 220,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Select', 'Job ID','Status', 'Job Type', 'Source', 'Block', 'Lot', 'House #', 'Street Name', 'Borough', 'Zip Code', 'Priority', 'Field Office'],
            colModel: [
                { name: 'Select', index: 'Select', editable: true, width: 60, edittype: "checkbox", editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: false }, align: "center" },
                { name: 'JobID', index: 'JobID', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'Status', index: 'Status', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'JobType', index: 'JobType', editable: true, width: 100, sorttype: "int", align: "center" },
                { name: 'Source', index: 'Source', editable: true, width: 80, align: "center", sorttype: "string",},
                { name: 'Block', index: 'Block', editable: true, width: 80, align: "center", sorttype: "int" },
                  { name: 'Lot', index: 'Lot', editable: true, width: 80, align: "center", sorttype: "int" },
                   { name: 'House', index: 'House', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'StreetName', index: 'StreetName', editable: true, width: 160, align: "center", sorttype: "int" },
 { name: 'Borough', index: 'Borough', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'ZipCode', index: 'ZipCode', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'Priority', index: 'Priority', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'FieldOffice', index: 'FieldOffice', editable: true, width: 80, align: "center", sorttype: "int" },
            ],
            pager: "#pager_list_2",
            viewrecords: true,

            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });
        // Add selection
        $("#table_list_2").setSelection(4, true);
        // Setup buttons
        $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
                { edit: true, add: true, del: true, search: true },
                { reloadAfterSubmit: true }
        );
        // Add responsive to jqGrid
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list_1').setGridWidth(width);
            $('#table_list_2').setGridWidth(width);

        });
       
//Add Sweet Alert on Button
        $('.demo2').click(function () {
            swal({
                title: "Job Assigned!",     
                type: "success"
            });
        });
    });
    </script>
        }
