<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Executive <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "SuperAdmin",new {PageType="P" })">Profile</a></li>
                        @*<li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>*@
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    VRVSS
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboards")">
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "ExecutiveDashboard")"><a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Executive Dashboard</a></li>
                    @*<li class="@Html.IsSelected(action: "FAQ")"><a href="@Url.Action("FAQ", "Dashboards")">FAQ</a></li>*@
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "SuperAdmin")">
                <a href="#"><i class="fa fa-vcard"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Super Admin Tasks</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SuperAdmin", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Add User")"><a href="@Url.Action("AddUser", "SuperAdmin")"> User Management</a></li>
                    <li class="@Html.IsSelected(action: "RoleManagement")"><a href="@Url.Action("RoleManagement", "SuperAdmin")"> Role Management</a></li>
                    <li class="@Html.IsSelected(action: "FieldManagement")"><a href="@Url.Action("FieldManagement", "SuperAdmin")">Field Office Management</a></li>
                    <li class="@Html.IsSelected(action: "CommunityBoardManagement")"><a href="@Url.Action("CommunityBoardManagement", "SuperAdmin")">Community Board Management</a></li>
                    @*<li class="@Html.IsSelected(action: "AssignRoles")"><a href="@Url.Action("AssignRoles", "SuperAdmin")">Assign Roles</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Category")"><a href="@Url.Action("Category", "SuperAdmin")">Category</a></li>
                    <li class="@Html.IsSelected(action: "Modules")"><a href="@Url.Action("Modules", "SuperAdmin")">Modules</a></li>*@
                    @*<li class="@Html.IsSelected(action: "RoleAssignment")"><a href="@Url.Action("RoleAssignment", "SuperAdmin")">Role Assignment</a></li>*@
                    <li class="@Html.IsSelected(action: "SystemParameters")"><a href="@Url.Action("SystemParameters", "SuperAdmin")">System Parameters</a></li>
                    <li class="@Html.IsSelected(action: "Permission")"><a href="@Url.Action("Permission", "SuperAdmin")">Permission</a></li>
                    <li class="@Html.IsSelected(action: "LookupTables")"><a href="@Url.Action("LookupTables", "SuperAdmin")">Lookup Tables</a></li>
                    <li class="@Html.IsSelected(action: "ReportTemplate")"><a href="@Url.Action("ReportTemplate", "SuperAdmin")">Report Template</a></li>
                    <li class="@Html.IsSelected(action: "StaffDirectory")"><a href="@Url.Action("StaffDirectory", "SuperAdmin")">Staff Directory</a></li>
                    <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "SuperAdmin")">Profile</a></li>
                    <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "SuperAdmin")">File Upload</a></li>
                    <li class="@Html.IsSelected(action: "BroadcastMessage")"><a href="@Url.Action("BroadcastMessage", "SuperAdmin")">Broadcast Message</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "PCS")">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label" data-i18n="nav.miscellaneous">PCS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "PCS",  cssClass: "in")">
                    <li>
                        <a href="#">PCS Admin<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse ">
                            <li class="@Html.IsSelected(action: "AddUser")"><a href="@Url.Action("AddUser", "PCS")">User Management</a></li>
                            <li class="@Html.IsSelected(action: "FieldManagement")"><a href="@Url.Action("FieldManagement", "PCS")">Field Management</a></li>
                            <li class="@Html.IsSelected(action: "CommunityBoardManagement")"><a href="@Url.Action("CommunityBoardManagement", "PCS")">Community Board Management</a></li>
                            <li class="@Html.IsSelected(action: "ReportTemplate")"><a href="@Url.Action("ReportTemplate", "PCS")">Report Template</a></li>
                            <li class="@Html.IsSelected(action: "LookupTables")"><a href="@Url.Action("LookupTables", "PCS")">Lookup Tables</a></li>
                            <li class="@Html.IsSelected(action: "StaffDirectory")"><a href="@Url.Action("StaffDirectory", "PCS")">Staff Directory</a></li>
                            <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "PCS")">Profile</a></li>
                            <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "PCS")">File Upload</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "SupervisorDashboard")"><a href="@Url.Action("SupervisorDashboard", "PCS")">Supervisor Dashboard</a></li>
                    <li class="@Html.IsSelected(action: "FilterJob")"><a href="@Url.Action("FilterJob", "PCS")">Filter Job</a></li>
                    <li>
                        <a href="#">Create Jobs<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse ">
                            <li class="@Html.IsSelected(action: "IndexRatsReservoir")"><a href="@Url.Action("IndexRatsReservoir", "PCS")">Index/Rats Reservoir</a></li>
                            <li class="@Html.IsSelected(action: "GeoJobs")"><a href="@Url.Action("GeoJobs", "PCS")">Geo Jobs</a></li>
                            <li class="@Html.IsSelected(action: "RoutineJobs")"><a href="@Url.Action("RoutineJobs", "PCS")">Routine Jobs</a></li>
                            <li class="@Html.IsSelected(action: "SpecialJobs")"><a href="@Url.Action("SpecialJobs", "PCS")">Special Jobs</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "InspectorDashboard")"><a href="@Url.Action("InspectorDashboard", "PCS")">Inspector Dashboard</a></li>
                    @*<li class="@Html.IsSelected(action: "Summons")"><a href="@Url.Action("Summons", "PCS")">Summons</a></li>*@
                    <li class="@Html.IsSelected(action: "Facility")"><a href="@Url.Action("Facility", "PCS")">Facility</a></li>
                    <li class="@Html.IsSelected(action: "InspectionDetail")"><a href="@Url.Action("InspectionDetail", "PCS")">Inspection Detail</a></li>

                    <li>
                        <a href="#">Rat Reservoir<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse ">
                            <li class="@Html.IsSelected(action: "BlockSurvey")"><a href="@Url.Action("BlockSurvey", "PCS")">Block Survey</a></li>
                            <li class="@Html.IsSelected(action: "ParksGreenStreetsSurvey")"><a href="@Url.Action("ParksGreenStreetsSurvey", "PCS")">Parks & Green Streets Survey</a></li>
                            <li class="@Html.IsSelected(action: "SubwayStationsSurvey")"><a href="@Url.Action("SubwayStationsSurvey", "PCS")">Subway Stations Survey</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "PropertyResearch")">
                <a href="#"><i class="fa fa-bank"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Property Research</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Billing", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "PropertyResearchDashboard")"><a href="@Url.Action("PropertyResearchDashboard", "PropertyResearch")">Property Research Dashboard</a></li>
                    <li class="@Html.IsSelected(action: "GeneralizedSearch")"><a href="@Url.Action("GeneralizedSearch", "PropertyResearch")">Search</a></li>
                    <li class="@Html.IsSelected(action: "ProductivityDashboard")"><a href="@Url.Action("ProductivityDashboard", "PropertyResearch")">Productivity Dashboard</a></li>

                </ul> 
            </li>
            <li class="@Html.IsSelected(controller: "Billing")">
                <a href="#"><i class="fa fa-bank"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Billing</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Billing", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "BillingDashboard")"><a href="@Url.Action("BillingDashboard", "Billing")">Billing Dashboard</a></li>
                    <li class="@Html.IsSelected(action: "SearchBillingJob")"><a href="@Url.Action("SearchBillingJob", "Billing")">Search Billing Job</a></li>
                    <li>
                        <a href="#">Billing Reports<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse ">
                            <li class="@Html.IsSelected(action: "PrintExportReports")"><a href="@Url.Action("PrintExportReports", "Billing")">Print/Export Reports</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "PrintShop")">
                <a href="#"><i class="fa fa-bank"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Print Shop</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "PrintShop", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "PrintShopDashboard")"><a href="@Url.Action("PrintShopDashboard", "PrintShop")">Print Shop Dashboard</a></li>
                    <li class="@Html.IsSelected(action: "SearchPrintJobs")"><a href="@Url.Action("SearchPrintJobs", "PrintShop")">Search Print Jobs</a></li>
                    <li class="@Html.IsSelected(action: "LettersMailed")"><a href="@Url.Action("LettersMailed", "PrintShop")">Letters Mailed</a></li>
                </ul>
            </li>
            <!--Temp Hidden for demo to client-->
            <!-- <li class="@Html.IsSelected(controller: "VPHS")">
            <a href="#"><i class="fa fa-user-circle"></i> <span class="nav-label" data-i18n="nav.miscellaneous">VPHS</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "VPHS", cssClass: "in")">
                <li class="@Html.IsSelected(action: "SupervisorDashboard")"><a href="@Url.Action("SupervisorDashboard", "VPHS")">Supervisor Dashboard</a></li>
                <li class="@Html.IsSelected(action: "InspectorDashboard")"><a href="@Url.Action("InspectorDashboard", "VPHS")">Inspector Dashboard</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Vector")">
            <a href="#"><i class="fa fa-user-circle-o"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Vector</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Vector", cssClass: "in")">
                <li class="@Html.IsSelected(action: "SupervisorDashboard")"><a href="@Url.Action("SupervisorDashboard", "Vector")">Supervisor Dashboard</a></li>
                <li class="@Html.IsSelected(action: "InspectorDashboard")"><a href="@Url.Action("InspectorDashboard", "Vector")">Inspector Dashboard</a></li>
            </ul>
        </li>-->
            <li class="@Html.IsSelected(controller: "AppViews")">
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.appviews">Help</span>  <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "AppViews", cssClass: "in")">
                    @*<li class="@Html.IsSelected(action: "StaffDirectory")"><a href="@Url.Action("StaffDirectory", "AppViews")">Staff Directory</a></li>
                    <li class="@Html.IsSelected(action: "Profile")"><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>*@
                    <!--Temp Hidden for client demo-->
                    <!--<li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "AppViews")">Wizard</a></li>
                    <li class="@Html.IsSelected(action: "BasicForms")"><a href="@Url.Action("BasicForms", "AppViews")">Basic Form</a></li>-->
                    @*<li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "AppViews")">File Upload</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "AppViews")">Inspection</a></li>*@
                    @*<li class="@Html.IsSelected(action: "Complaintlist")"><a href="@Url.Action("Complaintlist", "AppViews")">311 Complaint list</a></li>*@
                    <li class="@Html.IsSelected(action: "FAQ")"><a href="@Url.Action("FAQ", "AppViews")">FAQ</a></li>
                </ul>
            </li>
            <!--Temp Hidden for client demo-->
            <!--<li class="@Html.IsSelected(controller: "Pages")">
            <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.otherpages">Other Screen</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Pages", cssClass: "in")">
                <li class="@Html.IsSelected(action: "InternalServerError")"><a href="@Url.Action("InternalServerError", "Pages")">500 Page</a></li>
            </ul>
        </li>-->
          
            <li class="@Html.IsSelected(controller: "Reports")">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label" data-i18n="nav.miscellaneous">Reports</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Reports",  cssClass: "Report")">
                    <li class="@Html.IsSelected(action: "SearchLatter")"><a href="@Url.Action("SearchLatter", "Reports")">Search Report</a></li>
                    <li class="@Html.IsSelected(action: "DailiesLatter")"><a href="@Url.Action("DailiesLatter", "Reports")">Dailies Report</a></li>
                    <li class="@Html.IsSelected(action: "Report3")"><a href="@Url.Action("Report3", "Reports")">Report 3</a></li>
                    <li class="@Html.IsSelected(action: "Report4")"><a href="@Url.Action("Report4", "Reports")"> Report 4</a></li>
                    <li class="@Html.IsSelected(action: "Report5")"><a href="@Url.Action("Report5", "Reports")">Report 5</a></li>
                    <li class="@Html.IsSelected(action: "Map")"><a href="@Url.Action("Map", "Reports")">Maps</a></li>
                </ul>
            </li>
         </ul>
</div>
</nav>