
@{
    ViewBag.Title = "BillingDashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Billing Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>Billing</li>
            <li class="active">
                <strong>Billing Dashboard</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">

    <div class="ibox-content">

        <div class="row">
            <div class="form-group" style="margin-top: 20px">
                <label class="col-sm-1 control-label">Date Range:</label>
                <div class="col-md-4">
                    <div id="reportrange" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>

                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("invoicePrint", "Pages")" target="_blank" class="btn btn-primary" style="text-align-last: right"><i></i> Submit </a>

                </div>
            </div>
        </div>
    </div><br />
    <div class="ibox float-e-margins animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">

                    <div class="ibox-content">




                        <div class="jqGrid_wrapper">
                            <table id="Executive_Dashboard"></table>
                            <div id="pager_list_2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")


}


@section Scripts {
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/jqGrid")
    <script type="text/javascript">
    $(document).ready(function () {
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/1950',
        maxDate: '12/31/3000',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,

        opens: 'right',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });
    var mydata = [
                 { JobCategory: "DSNY-Waiting for Billing", Today: "8", Previous: "16", LastWeek: "18", Average: "2",Total:"42", urlID: "DSNYWaitingBillingJobs" },
                 { JobCategory: "Billing-DOF Accepted Jobs", Today: "10", Previous: "6", LastWeek: "10", Average: "6", Total: "26", urlID: "JobDetails" },
                 { JobCategory: "Billing-DOF Suspended Jobs", Today: "12", Previous: "9", LastWeek: "9", Average: "6", Total: "30", urlID: "BillingDashboard" },
                 { JobCategory: "Billing Open Batches", Today: "4", Previous: "6", LastWeek: "6", Average: "5", Total: "16", urlID: "BillingDashboard" },
                 { JobCategory: "Void/Adjustment-Director", Today: "2", Previous: "1", LastWeek: "0", Average: "2", Total: "3", urlID: "BillingDashboard" },
                { JobCategory: "Void/Adjustment- Assistant commissioner", Today: "2", Previous: "3", LastWeek: "4", Average: "3", Total: "9", urlID: "BillingDashboard" },


    ];

        // Configuration for jqGrid Example 2
    $("#Executive_Dashboard").jqGrid({
        data: mydata,
        datatype: "local",
        height: 170,
        autowidth: true,
        shrinkToFit: true,
        rowNum: 20,
        rowList: [10, 20, 30],
        colNames: ['Job Category', 'Today', 'Previous', 'Last Week', 'Average','Total'],
        colModel: [
            {
                name: 'JobCategory', index: 'JobCategory', editable: false, sortable: false, width: 110, sorttype: "string", search: true
            },
            { name: 'Today', index: 'Today', editable: true, width: 90, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {
                return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

            } },
            {
                name: 'Previous', index: 'Previous', editable: true, width: 100, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

                }
            },
            {
                name: 'LastWeek', index: 'LastWeek', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

                }
            },
            {
                name: 'Average', index: 'Average', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                    return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

                }
            },

              {
                  name: 'Total', index: 'Total', editable: true, width: 80, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                      return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';

                  }
              },

        ],
        pager: "#pager_list_2",
        viewrecords: true,

        add: true,
        edit: true,
        addtext: 'Add',
        edittext: 'Edit',
        hidegrid: false
    });
    function Link(id) {

        var row = id.split("=");
        var row_ID = row[1];
        var sitename = $("#Executive_Dashboard").getCell(row_ID, 'LicenseCategory');
        var url = "https://www.google.co.in" + sitename; // sitename will be like google.com or yahoo.com

        window.open(url);


    }
        // Add selection
    $("#Executive_Dashboard").setSelection(4, true);


        // Setup buttons
    $("#Executive_Dashboard").jqGrid('navGrid', '#pager_list_2',
            { edit: true, add: true, del: true, search: true },
            {  reloadAfterSubmit: true }
    );

        // Add responsive to jqGrid
    $(window).bind('resize', function () {
        var width = $('.jqGrid_wrapper').width();
        $('#table_list_1').setGridWidth(width);
        $('#Executive_Dashboard').setGridWidth(width);

    });

    });
    </script>
}

