@{
    ViewBag.Title = "PrintShopDashboard";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Print Shop Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>          
            <li>Print Shop</li>
            <li class="active">
                <strong>Print Shop Dashboard</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox-content">      
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_1"></table>
                                <div id="pager_list_1"></div>
                            </div>
                        </div>
                    </div>
                </div>       
        </div>     
            @*<div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>            
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-danger btn-sm demo4">Print</button>
                    <button type="button" class="btn btn-white " style="margin-left:10px">Cancel</button>
                </div>
            </div>
        <div class="col-lg-5"></div>
    </div>*@
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table_list_3"></table>
                            <div id="pager_list_3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table_list_4"></table>
                            <div id="pager_list_4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger btn-sm demo4">Print</button>
                <button type="button" class="btn btn-white " style="margin-left:10px">Cancel</button>
            </div>
        </div>
        <div class="col-lg-5"></div>
    </div>
    </div>
    </div>
@section Styles {
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/sweetAlert")
    <script type="text/javascript">
        
            function AddDate(day) {
                var today = new Date();
                today.setDate(today.getDate() + parseInt(day));
                //alert(today);
                var dd = today.getDate();
                var mm = today.getMonth();
                var y = today.getFullYear();
                return (mm + '/' + dd + '/' + y);
                //var someFormattedDate = dd + '/' + mm + '/' + y;
            }

        function SubtractDate(day) {
            var today = new Date();
            today.setDate(today.getDate() - parseInt(day));
            //alert(today);
            var dd = today.getDate();
            var mm = today.getMonth();
            var y = today.getFullYear();

            return (mm + '/' + dd + '/' + y);
        } 

        $(document).ready(function () {

        var mydata1 = [
                     { TypesofLetters: "COTA", JobType: "4", Source: "20", Block: "4", Lot: "15", House: "10", StreetName: "6", urlID: "PrintShopDashboard" },
                     { TypesofLetters: "Summons", JobType: "1", Source: "3", Block: "3", Lot: "0", House: "0", StreetName: "", urlID: "PrintShopDashboard" },
                        { TypesofLetters: "Regular", JobType: "1", Source: "3", Block: "1", Lot: "0", House: "0", StreetName: "", urlID: "PrintShopDashboard" },
                  { TypesofLetters: "City", JobType: "", Source: "", Block: "", Lot: "", House: "", StreetName: "", urlID: "PrintShopDashboard" },
              
        ];
        var mydata2 = [
                    { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "New" },
                    { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "New" },
                    { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "Printed" },
                    { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "Printed" },

        ];
        var mydata3 = [
                { TypesofLetters: "PCS", JobType: "4", Source: "20", Block: "4", Lot: "15", House: "10", StreetName: "6", urlID: "PrintShopDashboard" },
                { TypesofLetters: "VPHS", JobType: "1", Source: "3", Block: "3", Lot: "0", House: "0", StreetName: "", urlID: "PrintShopDashboard" },
                   { TypesofLetters: "Vector", JobType: "1", Source: "3", Block: "1", Lot: "0", House: "0", StreetName: "", urlID: "PrintShopDashboard" },
        
        ];
        var mydata4 = [
              { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "New" },
              { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "New" },
              { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "Printed" },
              { Select: '', JobID: "PO1598300", JobType: "PCS COTA", MailOutDate: "", ApprovedBy: "", ApprovedDate: "", InspectionDate: "", PrintStatus: "Printed" },

        ];
        // Configuration for jqGrid 1
        $("#table_list_1").jqGrid({
            data: mydata1,
            datatype: "local",
            height: 150, 
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Types of Letters', SubtractDate(0), SubtractDate(1), SubtractDate(2), SubtractDate(3), SubtractDate(4), SubtractDate(5)],
            colModel: [
               { name: 'TypesofLetters', index: 'JobID', editable: true, sorttype: "int", align: "center", },
                {
                    name: 'JobType', index: 'JobType', editable: true, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }},
                {
                    name: 'Source', index: 'Source', editable: true, align: "center", sorttype: "string", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }},
                {
                    name: 'Block', index: 'Block', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }},
                  {
                      name: 'Lot', index: 'Lot', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                          return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                      } },
                   {
                       name: 'House', index: 'House', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                           return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                       } },
 {
     name: 'StreetName', index: 'StreetName', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
         return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
     } },
 
            ],
            pager: "#pager_list_1",
            viewrecords: true,
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });
        // Configuration for jqGrid 2
        $("#table_list_2").jqGrid({
            data: mydata2,
            datatype: "local",
            height: 150,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Select', 'Job ID', 'Job Type', 'Mail Out Date', 'Approved By', 'Approved Date', 'Inspection Date', 'Print Status'],
            colModel: [
                { name: 'Select', index: 'Select', editable: true, width: 60, edittype: "checkbox", editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: false }, align: "center" },
                { name: 'JobID', index: 'JobID', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'JobType', index: 'JobType', editable: true, width: 100, sorttype: "int", align: "center" },
                { name: 'MailOutDate', index: 'MailOutDate', editable: true, width: 80, align: "center", sorttype: "string", },
                { name: 'ApprovedBy', index: 'ApprovedBy', editable: true, width: 80, align: "center", sorttype: "int" },
                  { name: 'ApprovedDate', index: 'ApprovedDate', editable: true, width: 80, align: "center", sorttype: "int" },
                   { name: 'InspectionDate', index: 'InspectionDate', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'PrintStatus', index: 'PrintStatus', editable: true, width: 160, align: "center", sorttype: "int" },
            ],
            pager: "#pager_list_2",
            viewrecords: true,
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false,
            gridComplete: function () {
                var recs = parseInt($("#pager_list_2").getGridParam("records"), 10);
                if (isNaN(recs) || recs == 0) {
                    $("#jqGrid_wrapper").hide();
                }
                else {
                    $('#jqGrid_wrapper').show();
                  
                }
            }
        });
        // Configuration for jqGrid 3
        $("#table_list_3").jqGrid({
            data: mydata3,
            datatype: "local",
            height: 150,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Types of Letters By Program', SubtractDate(0), SubtractDate(1), SubtractDate(2), SubtractDate(3), SubtractDate(4), SubtractDate(5)],
            colModel: [
               { name: 'TypesofLetters', index: 'JobID', editable: true, sorttype: "int", align: "center", },
                {
                    name: 'JobType', index: 'JobType', editable: true, sorttype: "int", align: "center", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }
                },
                {
                    name: 'Source', index: 'Source', editable: true, align: "center", sorttype: "string", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }
                },
                {
                    name: 'Block', index: 'Block', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                        return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                    }
                },
                  {
                      name: 'Lot', index: 'Lot', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                          return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                      }
                  },
                   {
                       name: 'House', index: 'House', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
                           return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
                       }
                   },
 {
     name: 'StreetName', index: 'StreetName', editable: true, align: "center", sorttype: "int", formatter: function (cellvalue, options, rowObject) {
         return "<a href='" + window.location.pathname.substr(0, window.location.pathname.lastIndexOf('/')) + "/" + rowObject.urlID + "'>" + cellvalue + '</a>';
     }
 },

            ],
            pager: "#pager_list_3",
            viewrecords: true,
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });
       
            // Configuration for jqGrid 4
        $("#table_list_4").jqGrid({
            data: mydata4,
            datatype: "local",
            height: 180,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Select', 'Job ID', 'Job Type', 'Mail Out Date', 'Approved By', 'Approved Date', 'Inspection Date', 'Print Status'],
            colModel: [
                { name: 'Select', index: 'Select', editable: true, width: 60, edittype: "checkbox", editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: false }, align: "center" },
                { name: 'JobID', index: 'JobID', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'JobType', index: 'JobType', editable: true, width: 100, sorttype: "int", align: "center" },
                { name: 'MailOutDate', index: 'MailOutDate', editable: true, width: 80, align: "center", sorttype: "string", },
                { name: 'ApprovedBy', index: 'ApprovedBy', editable: true, width: 80, align: "center", sorttype: "int" },
                  { name: 'ApprovedDate', index: 'ApprovedDate', editable: true, width: 80, align: "center", sorttype: "int" },
                   { name: 'InspectionDate', index: 'InspectionDate', editable: true, width: 80, align: "center", sorttype: "int" },
 { name: 'PrintStatus', index: 'PrintStatus', editable: true, width: 160, align: "center", sorttype: "int" },
            ],
            pager: "#pager_list_4",
            viewrecords: true,
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });
        // Add selection
        $("#table_list_1").setSelection(4, true);
        $("#table_list_2").setSelection(4, true);
        $("#table_list_3").setSelection(4, true);
        $("#table_list_4").setSelection(4, true);
        // Setup buttons
        $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
                { edit: false, add: false, del: false, search: true },
                { reloadAfterSubmit: true }
        );
        $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
               { edit: false, add: false, del: false, search: true },
               { reloadAfterSubmit: true }
       );
        $("#table_list_3").jqGrid('navGrid', '#pager_list_3',
          { edit: false, add: false, del: false, search: true },
          { reloadAfterSubmit: true }
  );
        $("#table_list_4").jqGrid('navGrid', '#pager_list_4',
     { edit: false, add: false, del: false, search: true },
     { reloadAfterSubmit: true }
);
       // Add responsive to jqGrid
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list_1').setGridWidth(width);
            $('#table_list_2').setGridWidth(width);
            $('#table_list_3').setGridWidth(width);
            $('#table_list_4').setGridWidth(width);
        });
//Add Sweet Alert on Button
        $('.demo4').click(function () {
            swal({
                title: "Print Job Successful?",
               
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal("Printed!", "success");
                        } else {
                            swal("Reprinted!", "Failed");
                        }
                    });
        });
    });
    </script>
}






