
@{
    ViewBag.Title = "LookupTables";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>LookupTables</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>
                <a>PCS</a>
            </li>
            <li class="active">
                <strong>lookup Tables</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-2"><label for="FirstName">Lookup Tables:</label></div>
                    <div class="col-lg-3">
                        <select class="form-control" multiple="" id="lstGrid" onclick="showGrid();">
                            <option value="1">Agency</option>
                            <option value="2">Area treatment unit</option>
                            <option value="3">Community board</option>
                            <option value="4">Compliant Source</option>
                            <option value="5">Condition Type</option>
                            <option value="6">Corner</option>
                            <option value="7">DEC-Lic-Category</option>
                            <option value="8">DOF source types</option>
                            <option value="9">ECB Codes</option>
                            <option value="10">ECB Hearing Dates</option>
                            <option value="11">ECB Holiday List</option>
                            <option value="12">ECB parameters</option>
                            <option value="13">ECB Working days</option>
                            <option value="14">ECB Holiday List</option>
                            <option value="15">Establishment Types</option>
                            <option value="16">Govt Ownert</option>
                            <option value="17">Handheld</option>
                            <option value="18">Health codes</option>
                            <option value="19">Inadequate Stoppage</option>
                            <option value="20">Indoor Locations</option>
                            <option value="21">Inspection Do Next</option>
                            <option value="22">Location</option>
                            <option value="23">Location Types</option>
                            <option value="24">Material Used</option>
                            <option value="25">Method Codes</option>
                            <option value="26">Nonproductive Activity</option>
                            <option value="27">Places</option>
                            <option value="28">Products</option>
                            <option value="29">Property Assessment</option>
                            <option value="30">Referral</option>
                            <option value="31">Target Organism Codes</option>
                            <option value="32">Units</option>
                            <option value="33">Violations</option>
                            <option value="34">Exclusion for NAA File Match</option>

                        </select>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox ">
                            <div class="ibox-content">
                                <div class="jqGrid_wrapper" id="Grid1">
                                    <table id="table_list_1"></table>
                                    <div id="pager_list_1"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid2">
                                    <table id="table_list_2"></table>
                                    <div id="pager_list_2"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid3">
                                    <table id="table_list_3"></table>
                                    <div id="pager_list_3"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid4">
                                    <table id="table_list_4"></table>
                                    <div id="pager_list_4"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid5">
                                    <table id="table_list_5"></table>
                                    <div id="pager_list_5"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid6">
                                    <table id="table_list_6"></table>
                                    <div id="pager_list_6"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid7">
                                    <table id="table_list_7"></table>
                                    <div id="pager_list_7"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid8">
                                    <table id="table_list_8"></table>
                                    <div id="pager_list_8"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid9">
                                    <table id="table_list_9"></table>
                                    <div id="pager_list_9"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid10">
                                    <table id="table_list_10"></table>
                                    <div id="pager_list_10"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid11">
                                    <table id="table_list_11"></table>
                                    <div id="pager_list_11"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid12">
                                    <table id="table_list_12"></table>
                                    <div id="pager_list_12"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid13">
                                    <table id="table_list_13"></table>
                                    <div id="pager_list_13"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid14">
                                    <table id="table_list_14"></table>
                                    <div id="pager_list_14"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid15">
                                    <table id="table_list_15"></table>
                                    <div id="pager_list_15"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid16">
                                    <table id="table_list_16"></table>
                                    <div id="pager_list_16"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid17">
                                    <table id="table_list_17"></table>
                                    <div id="pager_list_17"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid18">
                                    <table id="table_list_18"></table>
                                    <div id="pager_list_18"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid19">
                                    <table id="table_list_19"></table>
                                    <div id="pager_list_19"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid20">
                                    <table id="table_list_20"></table>
                                    <div id="pager_list_20"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid21">
                                    <table id="table_list_21"></table>
                                    <div id="pager_list_21"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid22">
                                    <table id="table_list_22"></table>
                                    <div id="pager_list_22"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid23">
                                    <table id="table_list_23"></table>
                                    <div id="pager_list_23"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid24">
                                    <table id="table_list_24"></table>
                                    <div id="pager_list_24"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid25">
                                    <table id="table_list_25"></table>
                                    <div id="pager_list_25"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid26">
                                    <table id="table_list_26"></table>
                                    <div id="pager_list_26"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid27">
                                    <table id="table_list_27"></table>
                                    <div id="pager_list_27"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid28">
                                    <table id="table_list_28"></table>
                                    <div id="pager_list_28"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid29">
                                    <table id="table_list_29"></table>
                                    <div id="pager_list_29"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid30">
                                    <table id="table_list_30"></table>
                                    <div id="pager_list_30"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid31">
                                    <table id="table_list_31"></table>
                                    <div id="pager_list_31"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid32">
                                    <table id="table_list_32"></table>
                                    <div id="pager_list_32"></div>
                                </div>
                                <div class="jqGrid_wrapper" id="Grid33">
                                    <table id="table_list_33"></table>
                                    <div id="pager_list_33"></div>
                                </div>
                                <div id="Grid34">

                                    <div class="col-lg-5"><label for="FirstName">Establishment Type:</label></div>
                                    <div class="col-lg-6">
                                        <input class="form-control" />

                                    </div>
                                    <div class="col-lg-5" style="margin-top:10px"><label for="FirstName">Lot Exclusion:</label></div>
                                    <div class="col-lg-6" style="margin-top:10px">
                                        <input class="form-control" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="wrapper wrapper-content">
            <div class="row">

            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/jqGrid")

    <script type="text/javascript">
        $('#Grid34').hide();
        function showGrid() {
            var selectedID = parseInt($("#lstGrid").val());

            $('#Grid1').hide();
            $('#Grid2').hide();
            $('#Grid3').hide();
            $('#Grid4').hide();
            $('#Grid5').hide();
            $('#Grid6').hide();
            $('#Grid7').hide();
            $('#Grid8').hide();
            $('#Grid9').hide();
            $('#Grid10').hide();
            $('#Grid11').hide();
            $('#Grid12').hide();
            $('#Grid13').hide();
            $('#Grid14').hide();
            $('#Grid15').hide();
            $('#Grid16').hide();
            $('#Grid17').hide();
            $('#Grid18').hide();
            $('#Grid19').hide();
            $('#Grid20').hide();
            $('#Grid21').hide();
            $('#Grid22').hide();
            $('#Grid23').hide();
            $('#Grid24').hide();
            $('#Grid25').hide();
            $('#Grid26').hide();
            $('#Grid27').hide();
            $('#Grid28').hide();
            $('#Grid29').hide();
            $('#Grid30').hide();
            $('#Grid31').hide();
            $('#Grid32').hide();
            $('#Grid33').hide();
            $('#Grid34').hide();
            if (selectedID == 1)
            {
                $('#Grid1').show();
            }
            else if(selectedID == 2)
            {

                $('#Grid2').show();
            }
            else if(selectedID == 3)
            {
                $('#Grid3').show();
            }
            else if(selectedID == 4)
            {
                $('#Grid4').show();
            }
            else if(selectedID == 5)
            {
                $('#Grid5').show();
            }
            else if(selectedID == 6)
            {
                $('#Grid6').show();
            }
            else if(selectedID == 7)
            {
                $('#Grid7').show();
            }
            else if(selectedID == 8)
            {
                $('#Grid8').show();
            }
            else if (selectedID == 9) {
                $('#Grid9').show();
            }
            else if (selectedID == 10) {
                $('#Grid10').show();
            }
            else if (selectedID == 11) {
                $('#Grid11').show();
            }
            else if (selectedID == 12) {
                $('#Grid12').show();
            }
            else if (selectedID == 13) {
                $('#Grid13').show();
            }
            else if (selectedID == 14) {
                $('#Grid14').show();
            }
            else if (selectedID == 15) {
                $('#Grid15').show();
            }
            else if (selectedID == 16) {
                $('#Grid16').show();
            }
            else if (selectedID == 17) {
                $('#Grid17').show();
            }
            else if (selectedID == 18) {
                $('#Grid18').show();
            }
            else if (selectedID == 19) {
                $('#Grid19').show();
            }
            else if (selectedID == 20) {
                $('#Grid20').show();
            }
            else if (selectedID == 21) {
                $('#Grid21').show();
            }
            else if (selectedID == 22) {
                $('#Grid22').show();
            }
            else if (selectedID == 23) {
                $('#Grid23').show();
            }
            else if (selectedID == 24) {
                $('#Grid24').show();
            }
            else if (selectedID == 25) {
                $('#Grid25').show();
            }
            else if (selectedID == 26) {
                $('#Grid26').show();
            }
            else if (selectedID == 27) {
                $('#Grid27').show();
            }
            else if (selectedID == 28) {
                $('#Grid28').show();
            }
            else if (selectedID == 29) {
                $('#Grid29').show();
            }
            else if (selectedID == 30) {
                $('#Grid30').show();
            }
            else if (selectedID == 31) {
                $('#Grid31').show();
            }
            else if (selectedID == 32) {
                $('#Grid32').show();
            }
            else if (selectedID == 33) {
                $('#Grid33').show();
            }
            else if (selectedID == 34) {

                $('#Grid34').show();
            }

        }


        $(document).ready(function () {


            $('#Grid1').hide();
            $('#Grid2').hide();
            $('#Grid3').hide();
            $('#Grid4').hide();
            $('#Grid5').hide();
            $('#Grid6').hide();
            $('#Grid7').hide();
            $('#Grid8').hide();
            $('#Grid9').hide();
            $('#Grid10').hide();
            $('#Grid11').hide();
            $('#Grid12').hide();
            $('#Grid13').hide();
            $('#Grid14').hide();
            $('#Grid15').hide();
            $('#Grid16').hide();
            $('#Grid17').hide();
            $('#Grid18').hide();
            $('#Grid19').hide();
            $('#Grid20').hide();
            $('#Grid21').hide();
            $('#Grid22').hide();
            $('#Grid23').hide();
            $('#Grid24').hide();
            $('#Grid25').hide();
            $('#Grid26').hide();
            $('#Grid27').hide();
            $('#Grid28').hide();
            $('#Grid29').hide();
            $('#Grid30').hide();
            $('#Grid31').hide();
            $('#Grid32').hide();
            $('#Grid33').hide();
            $('#Grid34').hide();

            var mydata = [
                       { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                           { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata1 = [
                     { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                         { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata2 = [
                    { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                        { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata3 = [
                   { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                       { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata4 = [
                   { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                       { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata5 = [
                 { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                     { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata6 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata7 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata8 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata9 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata10 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata11 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata12 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata13 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata14 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata15 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata16 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata17 = [
                { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                    { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata18 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata19 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata20 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata21 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata22 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata23 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata24 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata25 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata26 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata27 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata28 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata29 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata30 = [
               { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                   { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata31 = [
            { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata32 = [
            { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];
            var mydata33 = [
            { AreaTreatmentUnitPK: "2", AreaTreatmentDesc: "Square Meters", Active: "true" },
                { AreaTreatmentUnitPK: "1", AreaTreatmentDesc: "Square Feet", Active: "true" },
            ];


            // Configuration for jqGrid Example 1
            $("#table_list_1").jqGrid({
                data: mydata,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_1",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 2
            $("#table_list_2").jqGrid({
                data: mydata1,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_2",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 3
            $("#table_list_3").jqGrid({
                data: mydata2,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_3",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 4
            $("#table_list_4").jqGrid({
                data: mydata3,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_4",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 5
            $("#table_list_5").jqGrid({
                data: mydata3,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_5",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 6
            $("#table_list_6").jqGrid({
                data: mydata5,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_6",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 7
            $("#table_list_7").jqGrid({
                data: mydata6,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_7",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 8
            $("#table_list_8").jqGrid({
                data: mydata7,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_8",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 9
            $("#table_list_9").jqGrid({
                data: mydata8,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_9",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 10
            $("#table_list_10").jqGrid({
                data: mydata9,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_10",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 11
            $("#table_list_11").jqGrid({
                data: mydata10,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_11",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 12
            $("#table_list_12").jqGrid({
                data: mydata11,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_12",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 13
            $("#table_list_13").jqGrid({
                data: mydata12,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_13",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 14
            $("#table_list_14").jqGrid({
                data: mydata13,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_14",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 15
            $("#table_list_15").jqGrid({
                data: mydata14,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_15",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 16
            $("#table_list_16").jqGrid({
                data: mydata15,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_16",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 17
            $("#table_list_17").jqGrid({
                data: mydata16,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_17",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 18
            $("#table_list_18").jqGrid({
                data: mydata17,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_18",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 19
            $("#table_list_19").jqGrid({
                data: mydata18,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_19",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 20
            $("#table_list_20").jqGrid({
                data: mydata19,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_20",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 21
            $("#table_list_21").jqGrid({
                data: mydata20,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_21",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 22
            $("#table_list_22").jqGrid({
                data: mydata21,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_22",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 23
            $("#table_list_23").jqGrid({
                data: mydata22,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_23",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 24
            $("#table_list_24").jqGrid({
                data: mydata23,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_24",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 25
            $("#table_list_25").jqGrid({
                data: mydata24,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_25",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 26
            $("#table_list_26").jqGrid({
                data: mydata25,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_26",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 27
            $("#table_list_27").jqGrid({
                data: mydata26,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_27",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 28
            $("#table_list_28").jqGrid({
                data: mydata27,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_27",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 29
            $("#table_list_29").jqGrid({
                data: mydata28,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_29",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 30
            $("#table_list_30").jqGrid({
                data: mydata29,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_30",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 31
            $("#table_list_31").jqGrid({
                data: mydata30,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_31",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 32
            $("#table_list_32").jqGrid({
                data: mydata31,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_32",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Configuration for jqGrid Example 33
            $("#table_list_33").jqGrid({
                data: mydata32,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_33",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            $("#table_list_34").jqGrid({
                data: mydata33,
                datatype: "local",
                height: 170,
                autowidth: true,
                shrinkToFit: true,
                rowNum: 7,
                rowList: [10, 20, 30],
                colNames: ['AreaTreatmentUnitPK', 'AreaTreatmentDesc', 'Active'],
                colModel: [
                    { name: 'AreaTreatmentUnitPK', index: 'AreaTreatmentUnitPK', editable: false, sortable: false, width: 100, sorttype: "string", search: true, formatter: 'showlink', formatoptions: { baseLinkUrl: 'javascript:', showAction: "Link('", addParam: "');" } },
                    { name: 'AreaTreatmentDesc', index: 'AreaTreatmentDesc', editable: true, width: 90, sorttype: "int", align: "center" },
                    { name: 'Active', index: 'Active', editable: true, width: 100, sorttype: "int", align: "center" },

                ],
                pager: "#pager_list_34",
                viewrecords: true,

                add: true,
                edit: true,
                addtext: 'Add',
                edittext: 'Edit',
                hidegrid: false
            });
            // Add selection
            $("#table_list_1").setSelection(4, true);
            $("#table_list_2").setSelection(4, true);
            $("#table_list_3").setSelection(4, true);
            $("#table_list_4").setSelection(4, true);
            $("#table_list_5").setSelection(4, true);
            $("#table_list_6").setSelection(4, true);
            $("#table_list_7").setSelection(4, true);
            $("#table_list_8").setSelection(4, true);
            $("#table_list_9").setSelection(4, true);
            $("#table_list_10").setSelection(4, true);
            $("#table_list_11").setSelection(4, true);
            $("#table_list_12").setSelection(4, true);
            $("#table_list_13").setSelection(4, true);
            $("#table_list_14").setSelection(4, true);
            $("#table_list_15").setSelection(4, true);
            $("#table_list_16").setSelection(4, true);
            $("#table_list_17").setSelection(4, true);
            $("#table_list_18").setSelection(4, true);
            $("#table_list_19").setSelection(4, true);
            $("#table_list_20").setSelection(4, true);
            $("#table_list_21").setSelection(4, true);
            $("#table_list_22").setSelection(4, true);
            $("#table_list_23").setSelection(4, true);
            $("#table_list_24").setSelection(4, true);
            $("#table_list_25").setSelection(4, true);
            $("#table_list_26").setSelection(4, true);
            $("#table_list_27").setSelection(4, true);
            $("#table_list_28").setSelection(4, true);
            $("#table_list_29").setSelection(4, true);
            $("#table_list_30").setSelection(4, true);
            $("#table_list_31").setSelection(4, true);
            $("#table_list_32").setSelection(4, true);
            $("#table_list_33").setSelection(4, true);
            $("#table_list_34").setSelection(4, true);
            // Setup buttons
            $("#table_list_1").jqGrid('navGrid', '#pager_list_1',
                    { edit: true, add: true, del: true, search: true },
                    { reloadAfterSubmit: true }
            );
            $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
                  { edit: true, add: true, del: true, search: true },
                  { reloadAfterSubmit: true }
          );
            $("#table_list_3").jqGrid('navGrid', '#pager_list_3',
                 { edit: true, add: true, del: true, search: true },
                 { reloadAfterSubmit: true }
         );
            $("#table_list_4").jqGrid('navGrid', '#pager_list_4',
                { edit: true, add: true, del: true, search: true },
                { reloadAfterSubmit: true }
        );
            $("#table_list_5").jqGrid('navGrid', '#pager_list_5',
              { edit: true, add: true, del: true, search: true },
              { reloadAfterSubmit: true }
      );
            $("#table_list_6").jqGrid('navGrid', '#pager_list_6',
             { edit: true, add: true, del: true, search: true },
             { reloadAfterSubmit: true }
     );
            $("#table_list_7").jqGrid('navGrid', '#pager_list_7',
            { edit: true, add: true, del: true, search: true },
            { reloadAfterSubmit: true }
    );
            $("#table_list_8").jqGrid('navGrid', '#pager_list_8',
          { edit: true, add: true, del: true, search: true },
          { reloadAfterSubmit: true }
  );
            $("#table_list_9").jqGrid('navGrid', '#pager_list_9',
      { edit: true, add: true, del: true, search: true },
      { reloadAfterSubmit: true }
);
            $("#table_list_10").jqGrid('navGrid', '#pager_list_10',
      { edit: true, add: true, del: true, search: true },
      { reloadAfterSubmit: true }
);
            $("#table_list_11").jqGrid('navGrid', '#pager_list_11',
  { edit: true, add: true, del: true, search: true },
  { reloadAfterSubmit: true }
);

            $("#table_list_12").jqGrid('navGrid', '#pager_list_12',
  { edit: true, add: true, del: true, search: true },
  { reloadAfterSubmit: true }
);
            $("#table_list_13").jqGrid('navGrid', '#pager_list_13',
 { edit: true, add: true, del: true, search: true },
 { reloadAfterSubmit: true }
);
            $("#table_list_14").jqGrid('navGrid', '#pager_list_14',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_15").jqGrid('navGrid', '#pager_list_15',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_16").jqGrid('navGrid', '#pager_list_16',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_17").jqGrid('navGrid', '#pager_list_17',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_18").jqGrid('navGrid', '#pager_list_18',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);

            $("#table_list_19").jqGrid('navGrid', '#pager_list_19',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_20").jqGrid('navGrid', '#pager_list_20',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_21").jqGrid('navGrid', '#pager_list_21',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_22").jqGrid('navGrid', '#pager_list_22',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_23").jqGrid('navGrid', '#pager_list_23',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_24").jqGrid('navGrid', '#pager_list_24',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
            $("#table_list_25").jqGrid('navGrid', '#pager_list_25',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
$("#table_list_26").jqGrid('navGrid', '#pager_list_26',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }
);
$("#table_list_27").jqGrid('navGrid', '#pager_list_27',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_28").jqGrid('navGrid', '#pager_list_28',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_29").jqGrid('navGrid', '#pager_list_29',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_30").jqGrid('navGrid', '#pager_list_30',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_31").jqGrid('navGrid', '#pager_list_31',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_32").jqGrid('navGrid', '#pager_list_32',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_33").jqGrid('navGrid', '#pager_list_33',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
$("#table_list_34").jqGrid('navGrid', '#pager_list_33',
{ edit: true, add: true, del: true, search: true },
{ reloadAfterSubmit: true }

);
            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function (data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function () {
                    var fileReader = new FileReader(),
                            files = this.files,
                            file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function () {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function () {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function () {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function () {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function () {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function () {
                $image.cropper("setDragMode", "crop");
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_2 .input-group.date').datepicker({
                startView: 1,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });



            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });





            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });


            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });

            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });


        $('.chosen-select').chosen({ width: "100%" });

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });




    </script>
}

}