
@{
    ViewBag.Title = "Modules";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Modules</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Super Admin Task</a>
            </li>
            <li class="active">
                <strong>Modules</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h3>Add New Module</h3>
            </div>
            <div class="ibox-content">
                <div class="row">
             
                            <div class="form-group">
                                <div class="col-lg-2"><label for="FirstName">Module Name:</label></div>
                                <div class="col-lg-6"><input type="text" class="form-control" placeholder="" required="required"></div>
                                <button type="button" class="btn btn-primary " style="margin-left:10px">Search</button>
                                <button type="button" class="btn btn-primary " style="margin-left:10px">Cancel</button>
                            </div>

                   
                        
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="margin-top:10px">
        <div class="col-lg-12">
            <div class="ibox-title"><h3>List of Module</h3></div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-hover issue-tracker">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Category Name</th>
                                <th>Category Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="radio i-checks"> <input type="radio" value="option1" name="a"></div>
                                </td>
                                <td>
                                    PCS
                                </td>
                                <td>
                                    Disabled
                                </td>
                            </tr>
                            <tr>
                                <td><div class="radio i-checks"> <input type="radio" value="option2" name="a"></div></td>
                                <td>Vector</td>
                                <td>Disabled</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio i-checks"> <input type="radio" value="option3" name="a"></div>
                                </td>
                                <td>VPHS</td>
                                <td>Enabled</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" id="showsimple">Add</button>
                    <button type="button" class="btn btn-primary" id="showsimple2" style="margin-left:10px">Enable  </button>
                    <button type="button" class="btn btn-primary" id="showsimple1" style="margin-left:10px">Disable </button>
                </div>
            </div>
        </div>

    </div>
    </div>
   

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
@Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
@Scripts.Render("~/plugins/toastr")
    <script type="text/javascript">
        $(document).ready(function () {
            var i = -1;
            var toastCount = 0;
            var $toastlast;

            $('#showsimple').click(function () {
                // Display a success toast, with a title
                toastr.info('Role added', ' Add Role!')
            });

            $('#showsimple2').click(function () {
                // Display a success toast, with a title
                toastr.info('Role Enable', ' Role Enabled!')
            });


            $('#showsimple1').click(function () {
                // Display a success toast, with a title
                toastr.error('Disabled User', 'Disabled User !')
            });
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
}
