
@{
    ViewBag.Title = "SystemParameters";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>System Parameters</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("ExecutiveDashboard", "Dashboards")">Home</a>
            </li>
            <li>
                <a>Super Admin Task</a>
            </li>
            <li class="active">
                <strong>System Parameters</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox-content">
        <h3>System Parameters</h3>
        <div class="ibox float-e-margins animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
@section Styles {

    @Styles.Render("~/Content/plugins/jqGrid/jqGridStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")

}


@section Scripts {
    @Scripts.Render("~/plugins/jqGrid")
    @Scripts.Render("~/plugins/sweetAlert")
    <script type="text/javascript">
    $(document).ready(function () {

        var mydata = [
                     { Select: "", ParameterDescription: "Date Difference for Duplicate Check", ParameterValue: "90" },
                     { Select: "", ParameterDescription: "Hourly Rate for Compliance Inspection (per person)", ParameterValue: "2011-01-20"},
                        { Select: "", ParameterDescription: "Hourly Rate for Extermination (per person)", ParameterValue: "114" },
                         { Select: "", ParameterDescription: "Hourly Rate for CleanUp (per person)", ParameterValue: "125" },
                     { Select: "", ParameterDescription: "Hourly Rate for Stoppage (per person)", ParameterValue: "40" },
                        { Select: "", ParameterDescription: "Travel Time for Compliance", ParameterValue: "50" },
                         { Select: "", ParameterDescription: "Travel Time for Extermination", ParameterValue: "15" },
                     { Select: "", ParameterDescription: "Compliance Billable Hours Rounded to", ParameterValue: "15" },
                        { Select: "", ParameterDescription: "Extermination Billable Hours Rounded to", ParameterValue: "15" },
                 { Select: "", ParameterDescription: "Tax Rate", ParameterValue: "8.875" },
                  { Select: "", ParameterDescription: "Date Difference for NOV Print Letter", ParameterValue: "2" },
                   { Select: "", ParameterDescription: "QA Inspection Time", ParameterValue: "9 AM to 5 PM" },
                    { Select: "", ParameterDescription: "Production year for 311 Report", ParameterValue: "2009" },
                     { Select: "", ParameterDescription: "Manhattan Field Office Address", ParameterValue: "158 East 115th Street Manhattan 10029" },
                       { Select: "", ParameterDescription: "Billing Email Id(s)", ParameterValue: "vchandan@health.nyc.gov.in" },
                          { Select: "", ParameterDescription: "OATH URL", ParameterValue: "www.nyc.gov/oath" },
        ];
        // Configuration for jqGrid Example 2
        $("#table_list_2").jqGrid({
            data: mydata,
            datatype: "local",
            height: 400,
            autowidth: true,
            shrinkToFit: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            colNames: ['Select', 'Parameter Description', 'Parameter Value'],
            colModel: [
                { name: 'Select', index: 'Select', editable: true, width: 20, edittype: "checkbox", editoptions: { value: "True:False" }, formatter: "checkbox", formatoptions: { disabled: false }, align: "center" },
                { name: 'ParameterDescription', index: 'ParameterDescription', editable: true, width: 90, sorttype: "int", align: "center" },
                { name: 'ParameterValue', index: 'ParameterValue', editable: true, width: 100, sorttype: "int", align: "center" },
              

            ],
            pager: "#pager_list_2",
            viewrecords: true,

            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            hidegrid: false
        });

        // Add selection
        $("#table_list_2").setSelection(4, true);


        // Setup buttons
        $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
                { edit: true, add: true, del: true, search: true },
                { reloadAfterSubmit: true }
        );

        // Add responsive to jqGrid
        $(window).bind('resize', function () {
            var width = $('.jqGrid_wrapper').width();
            $('#table_list_1').setGridWidth(width);
            $('#table_list_2').setGridWidth(width);

        });
//Add Sweet Alert on Button
        $('.demo2').click(function () {
            swal({
                title: "Job Assigned!",
                type: "success"
            });
        });

    });
    </script>
}


